.top_header {
  background-color: #00ff94;
  display: flex;
  padding: 12px 0;
}
.top_header .container .row {
  margin-right: 0px;
}
.top_header .container .row h5 {
  font-size: 16px;
  margin-bottom: 0px;
}
.top_header .container .row h5 .fa-phone {
  padding-right: 5px;
}

.has-megamenu {
  margin: 0 5px;
}
.has-megamenu .title_span {
  transform: rotate(90deg);
  font-size: 26px;
  font-weight: 700;
  display: inline-block;
  position: absolute;
  top: 9px;
  margin: 0 4px;
}
.has-megamenu .megamenu {
  width: 100%;
  left: 0;
  right: 0;
  background-color: #051238;
}
.has-megamenu .megamenu .col-megamenu {
  line-height: 30px;
}
.has-megamenu .megamenu .dropdown-item {
  color: #ffffff;
  font-weight: 700;
}
.has-megamenu .megamenu .dropdown-item p {
  font-weight: 300;
}
.has-megamenu .megamenu .dropdown_main_item {
  color: #ffffff;
  font-weight: 700;
}
.has-megamenu .megamenu .dropdown_main_item p {
  font-weight: 300;
}
.has-megamenu .megamenu .nav_dropdown_custom {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.has-megamenu .megamenu .nav_dropdown_custom:hover {
  background-color: #030b22;
}

.navbar-toggler {
  border: none;
  color: #051238;
}

#banner {
  background: linear-gradient(110.36deg, #f5f5f5 0.1%, #ffffff 115.65%);
  margin: 0 0 25px 0;
}
#banner .row .ds_info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 25px;
  margin: 110px 75px 0 0px;
}
#banner .row .ds_info h1 {
  font-size: 54px;
  font-weight: 700;
}
#banner .row .ds_info p {
  font-size: 24px;
  font-weight: 500;
}
#banner .row .ds_info p span {
  color: #0059ff;
}
#banner .row .ds_info .my_img_responsive {
  width: 40%;
}

#content {
  margin: 35px 0;
}
#content h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -1.7999999523px;
  text-align: center;
  padding: 50px 0;
}
#content a {
  text-decoration: none;
  color: #051238;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
}
#content a p {
  padding: 10px 20px;
}
#content .row_article {
  border-radius: 15px;
  border: 1px solid rgba(5, 18, 56, 0.2);
}
#content .my_img_responsive {
  border-radius: 15px;
}
#content .program_ideal_ticks {
  gap: 50px;
}
#content .program_ideal_ticks p {
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: -0.8000000119px;
  text-align: left;
  margin-bottom: 0;
}
#content .program_ideal_ticks p::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/tick.png) no-repeat;
  left: 0;
  top: 0;
}
#content .program_ideal_ticks .col_design {
  display: flex;
  align-items: center;
  padding: 32px 24px;
  gap: 50px;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
}
#content .award_tech {
  padding-bottom: 50px;
}
#content .award_tech .carousel-indicators {
  margin-bottom: -4rem;
}
#content .award_tech .carousel_buttons {
  position: absolute;
  bottom: -60px;
  right: 225px;
}
#content .award_tech .arrow {
  width: 42px;
  height: 42px;
  margin-top: 10px;
  border: none;
}
#content .award_tech .arrow_left {
  background: url(../images//ArrowCircleLeft.png) no-repeat;
}
#content .award_tech .arrow_right {
  background: url(../images//ArrowCircleRight.png) no-repeat;
}
#content .path_success {
  text-align: left;
}
#content .path_success .path_row {
  gap: 15px;
}
#content .path_success .path_box {
  padding: 48px 40px;
  gap: 40px;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
}
#content .path_success .fa_custom_color {
  color: #00ff94;
  font-size: 35px;
}
#content .path_success h6 {
  font-weight: 800;
  line-height: 55px;
}
#content .path_success h3 span {
  font-weight: 800;
}
#content .path_success p {
  font-weight: 800;
  line-height: 50px;
}
#content .path_success p span {
  line-height: 50px;
  font-weight: 400;
}
#content .path_success ul {
  padding-left: 0;
  margin-top: 20px;
}
#content .path_success ul li {
  list-style: none;
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 500;
}
#content .path_success ul li::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/tick_blue.png) no-repeat;
  left: 0;
  top: 0;
}
#content .path_success ul li ul li::after {
  background: none;
  font-weight: 700;
}
#content .path_success .path_button {
  background: #00ff94;
  padding: 16px 32px 16px 32px;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.6000000238px;
  text-align: center;
  color: #051238;
}
#content .program_overview h2 {
  padding-bottom: 0;
}
#content .program_overview h5 {
  color: rgba(5, 18, 56, 0.6);
  font-weight: 400;
}
#content .program_overview p {
  font-weight: 700;
  line-height: 0;
}
#content .program_overview .program_overview_row {
  padding-top: 50px;
}
#content .program_overview .program_overview_col h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: -0.012em;
}
#content .program_overview .program_overview_col h3 .fa_custom {
  margin-right: 5px;
}
#content .program_overview .program_overview_col h3 .fa_custom_color {
  color: #00ff94;
}
#content .program_overview .program_overview_col h3 .fa_custom_color_2 {
  color: #0155f3;
}
#content .program_overview .carousel-indicators {
  margin-bottom: -40px;
}
#content .program_overview .arrow {
  width: 42px;
  height: 42px;
  margin-top: 10px;
}
#content .program_overview .arrow_left {
  background: url(../images//ArrowCircleLeft.png) no-repeat;
}
#content .program_overview .arrow_right {
  background: url(../images//ArrowCircleRight.png) no-repeat;
}
#content .foundational_learning {
  margin: 150px 0 0 0;
}
#content .foundational_learning h1 {
  font-weight: 700;
  text-align: left;
  padding: 20px 0;
}
#content .foundational_learning h2 {
  padding: 50px 0 0 0;
}
#content .foundational_learning h5 {
  width: 35%;
  padding: 12px 20px;
  border-radius: 60px;
  background: #051238;
  color: white;
}
#content .foundational_learning .accordion_custom_button {
  list-style: none;
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;
}
#content .foundational_learning .accordion_custom_button::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/plus_accordion.png) no-repeat;
  left: 0;
}
#content .foundational_learning .accordion_custom_button[aria-expanded=true] {
  display: none;
}
#content .foundational_learning .accordion_custom_button_2::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: url(../images/x_accordion.png) no-repeat;
  right: 0;
  margin-right: 15px;
}
#content .foundational_learning .foundational_learning_col .accordion {
  --bs-accordion-btn-padding-x: 0rem;
  --bs-accordion-btn-padding-y: 5px;
}
#content .foundational_learning .foundational_img {
  border-radius: 150px 50px 175px 50px;
  box-shadow: 20px 16px 0px 5px #0059ff;
}
#content .foundational_learning .img_foundational {
  display: flex;
  align-items: center;
  padding: 35px 0;
}
#content .foundational_learning .accordion-body {
  --bs-accordion-btn-padding-y: 0px;
}
#content .foundational_learning .accordion-button {
  background: none;
  box-shadow: none;
}
#content .foundational_learning .accordion-item {
  border: none;
}
#content .foundational_learning .accordion_body_box {
  text-align: left;
  padding: 48px 40px;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
}
#content .foundational_learning .accordion_body_box h1 {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}
#content .foundational_learning .accordion_body_box ul {
  padding-left: 0;
  margin-top: 20px;
}
#content .foundational_learning .accordion_body_box ul li {
  list-style: none;
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 500;
}
#content .foundational_learning .accordion_body_box ul li::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/tick_blue.png) no-repeat;
  left: 0;
  top: 0;
}
#content .advanced_courses {
  text-align: left;
}
#content .advanced_courses .advanced_courses_row {
  gap: 15px;
}
#content .advanced_courses .advanced_courses_box {
  padding: 48px 40px;
  border-radius: 16px;
  margin-top: 15px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
}
#content .advanced_courses h2 {
  padding: 20px 0;
}
#content .advanced_courses h3 {
  font-weight: 800;
  text-transform: uppercase;
}
#content .advanced_courses p {
  font-weight: 400;
  line-height: 50px;
}
#content .advanced_courses ul {
  padding-left: 0;
  margin-top: 20px;
}
#content .advanced_courses ul li {
  list-style: none;
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 500;
}
#content .advanced_courses ul li::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/tick_blue.png) no-repeat;
  left: 0;
  top: 0;
}
#content .advanced_courses ul li ul li::after {
  background: none;
  font-weight: 700;
}
#content .real_projects {
  text-align: center;
}
#content .real_projects .real_projects_row {
  gap: 15px;
}
#content .real_projects .real_projects_box {
  padding: 48px 40px;
  border-radius: 16px;
  margin-top: 15px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
}
#content .real_projects h2 {
  padding: 50px 0 0 0;
}
#content .real_projects h3 {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
#content .real_projects p {
  font-weight: 400;
  line-height: 50px;
}
#content .real_projects .real_projects_button {
  background: #0059ff;
  padding: 16px 32px 16px 32px;
  width: 100%;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.6000000238px;
  text-align: center;
}
#content .path_employment {
  background: #051238;
  margin: 20px 0;
  text-align: left;
}
#content .path_employment .path_employment_row {
  align-items: center;
  margin: 50px 0;
}
#content .path_employment h1 {
  font-size: 40px;
  font-weight: 800;
  color: #00ff94;
}
#content .path_employment h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  color: #ffffff;
  padding: 20px 0;
}
#content .path_employment p {
  font-weight: 400;
  line-height: 50px;
}
#content .path_employment .path_employment_img {
  padding: 20px;
  border-radius: 16px;
  border: 2px solid #00ff94;
}
#content .path_employment ul {
  padding-left: 0;
  margin-top: 20px;
}
#content .path_employment ul li {
  list-style: none;
  padding-left: 35px;
  position: relative;
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}
#content .path_employment ul li::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/tick.png) no-repeat;
  left: 0;
  top: 0;
}
#content .hiring_contest {
  margin: 50px 0 0 0;
  color: #051238;
}
#content .hiring_contest h1 {
  font-weight: 700;
  text-align: left;
  padding: 20px 0;
  color: #051238;
}
#content .hiring_contest p {
  color: #051238;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.012em;
  text-align: justify;
}
#content .hiring_contest .hiring_contest_row {
  align-items: center;
  gap: 50px;
}
#content .hiring_contest .hiring_contest_img {
  border-radius: 150px 75px 200px 67px;
  box-shadow: 20px 16px 0px 5px #0059ff;
}
#content .hiring_contest .img_hiring_contest {
  display: flex;
  align-items: center;
}
#content .hiring_contest .hiring_contest_freelancing {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  margin: 130px 0px 0 0;
  padding: 30px 0;
}
#content .hiring_contest .hiring_contest_freelancing h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.7999999523px;
  text-align: center;
}
#content .hiring_contest .hiring_contest_freelancing h1 span {
  color: #0059ff;
}
#content .hiring_contest .hiring_contest_freelancing p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.400000006px;
  text-align: center;
}
#content .hiring_contest .hiring_contest_freelancing h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: center;
}
#content .hiring_contest .hiring_contest_freelancing .hiring_contest_row_freelancing {
  padding-top: 20px;
}
#content .hiring_contest .hiring_contest_freelancing .hiring_contest_row_freelancing .hiring_contest_col_freelancing {
  display: flex;
  justify-content: center;
}
#content .hiring_contest .hiring_contest_freelancing .hiring_contest_row_freelancing .hiring_contest_col_freelancing ul {
  padding-left: 0;
  -moz-column-count: 2;
       column-count: 2;
}
#content .hiring_contest .hiring_contest_freelancing .hiring_contest_row_freelancing .hiring_contest_col_freelancing ul li {
  text-align: left;
  list-style: none;
  padding-left: 35px;
  position: relative;
  margin-bottom: 20px;
  font-weight: 500;
}
#content .hiring_contest .hiring_contest_freelancing .hiring_contest_row_freelancing .hiring_contest_col_freelancing ul li::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../images/blue_tick_2.png) no-repeat;
  left: 0;
  top: 0;
}
#content .hiring_contest_diploma {
  background: #f9f9f9;
}
#content .hiring_contest_diploma .hiring_contest_row_diploma {
  align-items: center;
  gap: 20px;
  margin: 50px 0;
  padding: 100px 0;
}
#content .hiring_contest_diploma .hiring_contest_row_diploma .my_img_responsive {
  padding-right: 50px;
}
#content .esteemed_faculty {
  padding-bottom: 50px;
}
#content .esteemed_faculty h1 {
  font-family: Manrope;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.8000000119px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .carousel-indicators {
  margin-bottom: -4rem;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .carousel_buttons {
  position: absolute;
  bottom: -60px;
  right: 225px;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .arrow {
  width: 42px;
  height: 42px;
  margin-top: 10px;
  border: none;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .arrow_left {
  background: url(../images//ArrowCircleLeft.png) no-repeat;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .arrow_right {
  background: url(../images//ArrowCircleRight.png) no-repeat;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff {
  margin: 50px 0;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff p {
  text-align: justify;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff .esteemed_faculty_box {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 20px 0;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff .esteemed_faculty_box .esteemed_faculty_img_right {
  width: 272px;
  height: 272px;
  border-radius: 90px 30px;
  background: #0059ff;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff .esteemed_faculty_box .esteemed_faculty_img_left {
  width: 272px;
  height: 272px;
  border-radius: 30px 90px;
  background: #0059ff;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff .esteemed_faculty_box .student_review {
  line-height: 16px;
  letter-spacing: -0.400000006px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff .esteemed_faculty_box .student_name {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff .reviews_in_mobile .student_review {
  line-height: 16px;
  letter-spacing: -0.400000006px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_medium_only .staff .reviews_in_mobile .student_name {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only {
  gap: 50px;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .esteemed_faculty_box {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin: 80px 0;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .esteemed_faculty_box h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .esteemed_faculty_box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.8000000119px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .esteemed_faculty_box .esteemed_faculty_img_right {
  width: 272px;
  height: 272px;
  border-radius: 90px 30px;
  background: #0059ff;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .esteemed_faculty_box .esteemed_faculty_img_left {
  width: 272px;
  height: 272px;
  border-radius: 30px 90px;
  background: #0059ff;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .esteemed_faculty_box .student_review {
  line-height: 16px;
  letter-spacing: -0.400000006px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .esteemed_faculty_box .student_name {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .reviews_in_mobile .student_review {
  line-height: 16px;
  letter-spacing: -0.400000006px;
  text-align: left;
}
#content .esteemed_faculty .esteemed_faculty_trainers_display_only .staff .reviews_in_mobile .student_name {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
#content .free_course {
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  margin: 80px 0px;
  padding: 30px 0;
}
#content .free_course h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.7999999523px;
  text-align: center;
}
#content .free_course h1 span {
  color: #0059ff;
}
#content .free_course p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.400000006px;
  text-align: center;
}
#content .free_course h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: center;
}
#content .free_course .free_course_row {
  padding-top: 20px;
  width: 51%;
  margin: 0 auto;
}
#content .free_course .free_course_row p {
  padding-top: 20px;
}
#content .free_course .free_course_row .free_course_col {
  display: flex;
  justify-content: center;
}
#content .free_course .free_course_row .btn_modal {
  width: 35%;
  margin: 15px auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.8000000119px;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 6px;
  color: #051238;
  background: #00ff94;
}
#content .free_course .free_course_row .btn_modal_open {
  width: 100%;
}
#content .free_course .free_course_row .btn_close_modal {
  background: #051238;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  color: #00ff94;
  opacity: 1;
  font-weight: 700;
  padding: 15px;
  font-size: 18px;
}
#content .free_course .modal-header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
}
#content .free_course .modal-header p {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
  color: #0059ff;
}
#content .free_course .modal-footer {
  border: none;
}
#content .free_course .modal-header {
  border: none;
}
#content .free_course .form-control {
  padding: 10px 10px;
}
#content .financing_options {
  margin: 100px 0;
}
#content .financing_options h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 63.36px;
  letter-spacing: -2px;
  text-align: center;
  padding: 10px 0;
}
#content .financing_options h3 {
  font-size: 38px;
  font-weight: 500;
  line-height: 55.86px;
  letter-spacing: -2px;
  text-align: center;
  padding: 10px 0;
}
#content .financing_options p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.400000006px;
  text-align: center;
}
#content .financing_options p span {
  font-weight: 800;
}
#content .financing_options .financing_options_accordion .accordion_item_custom {
  padding: 25px;
  border-radius: 16px;
  opacity: 0px;
  border: 1px solid rgba(51, 51, 51, 0.4);
  margin: 15px 0;
}
#content .financing_options .financing_options_accordion .accordion_item_custom h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32.78px;
  text-align: left;
  padding: 0;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_btn_custom {
  background-color: #fff;
  border: none;
  gap: 15px;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_btn_custom:focus {
  border: none;
  box-shadow: none;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_btn_custom:focus-visible {
  border: none;
  box-shadow: none;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_btn_custom:not(.collapsed) {
  border: none;
  box-shadow: none;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_btn_custom::after {
  left: 50px;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .icon_accordion {
  background: #051238;
  color: #fff;
  border-radius: 50%;
  border-radius: 50%;
  width: 67px;
  height: 67px;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 35px;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_body_custom p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32.78px;
  text-align: left;
  padding: 15px 0;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_body_custom p span {
  font-weight: 700;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_body_custom .accordion_box_body {
  padding: 40px;
  gap: 32px;
  border-radius: 16px;
  opacity: 0px;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
  border: 1px solid rgba(5, 18, 56, 0.2);
  margin: 20px 0;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_body_custom .accordion_box_body h1 {
  font-size: 20px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: -0.8000000119px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  flex-wrap: wrap;
  margin-top: 15px;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_body_custom .accordion_box_body h1 span {
  font-size: 30px;
  color: #0155f3;
  text-transform: lowercase;
  line-height: 33px;
  letter-spacing: -1.2000000477px;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_body_custom .accordion_box_body h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  letter-spacing: -0.8000000119px;
  text-align: left;
  color: rgba(5, 18, 56, 0.6);
  margin: 20px 0;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_body_custom .accordion_box_body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: -0.8000000119px;
  text-align: left;
  color: rgba(5, 18, 56, 0.6);
}
#content .financing_options .financing_options_accordion .accordion_item_custom .accordion_body_custom .accordion_box_body .btn_accordion {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 6px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #0155f3;
}
#content .financing_options .financing_options_accordion .accordion_item_custom .btn_accordion {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 6px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: #0155f3;
}
#content .plans_changed {
  text-align: center;
  background: #051238;
  border-radius: 16px;
  color: #ffffff;
  padding: 120px 10px;
}
#content .plans_changed h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -1.7999999523px;
  padding: 20px;
}
#content .plans_changed h1 span {
  color: #00ff94;
  font-weight: 700;
}
#content .plans_changed p {
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  letter-spacing: -0.400000006px;
}
#content .plans_changed p span {
  color: #00ff94;
  font-weight: 800;
}
#content .student_feedback {
  margin: 60px 0px;
}
#content .student_feedback h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
  padding: 50px 0;
}
#content .student_feedback .student_feedback_row {
  gap: 15px;
}
#content .student_feedback .student_feedback_row .student_feedback_box {
  border-radius: 16px;
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
  padding: 35px;
  border: 1px solid rgba(5, 18, 56, 0.2);
}
#content .student_feedback .student_feedback_row .student_feedback_box .student_feedback_box_stars {
  padding: 20px 0;
}
#content .student_feedback .student_feedback_row .student_feedback_box .student_info {
  display: flex;
  gap: 20px;
}
#content .student_feedback .student_feedback_row .student_feedback_box .student_info h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: -0.6000000238px;
  text-align: left;
}
#content .student_feedback .student_feedback_row .student_feedback_box .student_info p {
  font-weight: 400;
}
#content .student_feedback .student_feedback_row .carousel-indicators {
  margin-bottom: -4rem;
}
#content .student_feedback .student_feedback_row .carousel_buttons {
  position: absolute;
  bottom: -60px;
  right: 225px;
}
#content .student_feedback .student_feedback_row .arrow {
  width: 42px;
  height: 42px;
  margin-top: 10px;
  border: none;
}
#content .student_feedback .student_feedback_row .arrow_left {
  background: url(../images//ArrowCircleLeft.png) no-repeat;
}
#content .student_feedback .student_feedback_row .arrow_right {
  background: url(../images//ArrowCircleRight.png) no-repeat;
}
#content .community_tech_events {
  margin: 120px 0;
}
#content .community_tech_events .community_tech_events_box {
  text-align: center;
  padding: 48px 40px;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
}
#content .community_tech_events .community_tech_events_box h1 {
  font-size: 20px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: -0.8000000119px;
  text-transform: uppercase;
}
#content .community_tech_events .community_tech_events_box p span {
  font-weight: 800;
}
#content .community_tech_events .community_tech_events_box .community_tech_events_row {
  padding: 25px 50px;
}
#content .community_tech_events .community_tech_events_box .community_tech_events_row .carousel-indicators {
  margin-bottom: -4rem;
}
#content .community_tech_events .community_tech_events_box .community_tech_events_row .carousel_buttons {
  position: absolute;
  bottom: -60px;
  right: 225px;
}
#content .community_tech_events .community_tech_events_box .community_tech_events_row .arrow {
  width: 42px;
  height: 42px;
  margin-top: 10px;
  border: none;
}
#content .community_tech_events .community_tech_events_box .community_tech_events_row .arrow_left {
  background: url(../images//ArrowCircleLeft.png) no-repeat;
}
#content .community_tech_events .community_tech_events_box .community_tech_events_row .arrow_right {
  background: url(../images//ArrowCircleRight.png) no-repeat;
}
#content .enrollment_process h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.7999999523px;
}
#content .enrollment_process .enrollment_process_row h1 {
  display: flex;
  justify-content: center;
  width: 85px;
  height: 85px;
  align-items: center;
  border-radius: 50px;
  font-size: 35px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  color: #00ff94;
  background: #051238;
  position: relative;
}
#content .enrollment_process .enrollment_process_row h1::after {
  content: "";
  display: block;
  width: 160%;
  height: 2px;
  background-color: black;
  position: absolute;
  left: 85px;
}
#content .enrollment_process .enrollment_process_row p {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}
#content .enrollment_process .enrollment_process_row .h1_custom {
  margin: 0 50px;
}
#content .enrollment_process .enrollment_process_row .enrollment_process_row_inline {
  display: inline-block;
}
#content .enrollment_process .enrollment_process_row .no_line h1::after {
  content: none;
  display: none;
}
#content .more_info {
  margin: 110px 0;
  border-radius: 16px;
  border: 1px solid rgba(5, 18, 56, 0.2);
  box-shadow: 0px 4px 30px 0px rgba(101, 119, 131, 0.1019607843);
  padding: 50px 100px;
}
#content .more_info .more_info_row {
  align-items: center;
}
#content .more_info .more_info_row h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1.7999999523px;
}
#content .more_info .more_info_row p {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.400000006px;
  padding: 25px 0;
}
#content .more_info .more_info_row .more_info_img {
  background: #0155f3;
  border-radius: 16px;
  width: 100%;
  max-width: 100%;
}
#content .more_info .more_info_row .btn_modal {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
#content .faq {
  margin: 150px 0 0 0;
}
#content .faq h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2px;
  text-align: center;
  margin-bottom: 70px;
}
#content .faq .accordion-item {
  border-top: none;
  border-right: none;
  border-left: none;
}
#content .faq .accordion-header {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 10px 0;
}
#content .faq .accordion-button[aria-expanded=true] {
  background: none;
}
#content .faq .accordion-button:focus {
  box-shadow: none;
}
#content .faq .accordion-body {
  border: none;
}
#content .faq .accordion-body p {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
  color: #05133b;
}
#content .faq .btn_faq_accordion {
  font-size: 24px;
  font-weight: 800;
  line-height: 28.8px;
  letter-spacing: -0.012em;
  text-align: left;
  color: #051238;
}

#footer {
  background: linear-gradient(156.46deg, #051238 0%, #0e339e 192.36%);
  padding: 50px 0;
  color: #fff;
}
#footer .footer_row h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.3000000119px;
  text-align: left;
  color: #fff;
}
#footer .footer_row ul {
  list-style: none;
  padding: 0;
}
#footer .footer_row ul li a {
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.3000000119px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
#footer .footer_row .active {
  color: #00ff94;
}
#footer .footer_row .icons_padding {
  padding-right: 8px;
}/*# sourceMappingURL=style.css.map */